html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  height: 100vh;
}

body {
    height: 98vh;
    overflow: hidden;
}

.general-height {
    height: 100vh;
}

/*Registration + Login */

.background {
    background-image: url("../background.jpg");
    background-size: cover;
}

.form-submit-btn {
    background-color: #c2466b;
    color: white;
}

.round-card {
    border-radius: 15px;
}

.register-card {
    margin-top: -30px;
}

/* Profile */

.profile-background {
    background-image: url("../background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 88vh;
}

.profile-card {
    background: hsla(220, 50%, 50%, 0.5);
    backdrop-filter: blur(60px);
}

/* Music */

.music-list {
    max-height: 56vh;
    overflow-y: auto;
}

.artist-title{
    color: #3949ab;
}

.music-title{
    color: #1a237e;
}

.music-item-card-bg{
    background: rgba(255, 255, 255, 0.8);
}
